---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro"
import Test from "../components/Test.astro";
import Function from "../components/funcionamiento.astro";
// import NameUser from '/public/utils/nameUser.js';
// let name =
---

<Layout title="Your Color | wuerion">
    <Header />
    <Hero name="Gloria" client:load/>
    <!-- TODO Pendiente la funcion de el nombre
    <input type="text" id="name">
    <button type="button" id="save">Guardar</button>
    <main /> -->
    <About />
    <Test />
    <Function />
</Layout>
<!-- <script src="/public/utils/nameUser.js" is:inline defer></script> -->
<!-- TODO: Create: AXVOL and Feedback: Ana Gloria -->