---
import StacionColors from "./stacionColors.astro";
---

<section id="about" class="px-5 font-lato text-lg">
    <h3 class="text-xl text-center font-bold">¿Qué es la colorimetría?</h3>
    <div class="mt-5 ">
        <img
            src="about.webp"
            alt="people with background colors"
            class="h-96 object-cover w-full rounded"
        />
    </div>
    <p class="m-5">
        La <spna class="font-semibold">colorometria</spna> es una rama de la ciencia
        que estudia la medicion y cuantificacion del color, Pero tambien es el estudio
        de como los colores interactuan con nuestra caracteristicas fisicas, como
        el tono de piel, color de ojos y cabello. <br class="mb-2" />Se basa en
        la precepcion humana de color y se utiliza para describir y compara
        colores en diversas areas, como la fotografia, el diseño grafico, la
        industria textil, la quimica, la biologia, estre otras. <br
            class="mb-2"
        /> Al conocer tu perfil colometrico, prodras elegir colores que resalten
        tu belleza natural, mejoren tu estilo y te hagna sentir mas seguro/a.
    </p>

    <p>
        En nuestra herramienta, no solo descubriras tu perfil de colorometria,
        sino tambien como puedes aplicar la <span class="font-semibold"
            >teoria de las estaciones</span
        > para obtener una paleta de colores ideal para ti.
    </p>

    <h3 class="text-xl font-bold mt-5 text-center">
        ¿Por qué es importante conocer tu colorimetría?
    </h3>
    <p class="m-5">
        Los colores pueden influir en como nos sentimos, como nos persiben los
        demas y como dastacamos nuestra belleza natural. <br class="mb-2" /> Conociendo
        tu
        <span class="font-semibold">colorometria</span>, prodras elegir ropa,
        maquillaje y accesorios que resalten tu tono natural, mejorando tu
        confianza y estilo.
    </p>

    <div class="">
        <div class="">
            <h3 class="text-xl font-bold mt-5 text-center">
                La teoría de las estaciones <br class="md:hidden"/> ¿Qué estación es tu perfil de
                color?
            </h3>
            <p class="m-5">
                La <span class="font-semibold">teoria de las estaciones</span> es
                un sistema que clasifica los colores que mejor complementan tu apariencia
                fisica en cuatro categorias, cada una relacionada con una estacion
                de año: <span class="font-semibold"
                    >Primevera, Verano, Otoño e Invierno.
                </span>Cada estacion tiene una paleta de colores especifica que
                armoniza con diferentes tonos de piel, ojos y cabello.
            </p>
        </div>
        <StacionColors />
    </div>
</section>

<h5 class="m-10 font-bold">¡Comienza a explorar tu colorimetría hoy!</h5>
<p class="m-5">
    Conocer tu colorometria es una herramienta poderosa para mejorar tu estilo
    personal y sentirte mas comodo/a con lo que usas. Los colores no solo son
    una custion de estetica, sino una forma de reseltar lo mejor de ti. <span
        class="font-semibold text-blue-400"
        >¡Empezar ahora es fácil y rápido!</span
    >
</p>
