---
const { text } = Astro.props;
---

<div class="m-2">
    <a href="#" class="text-black rounded-md p-2 " id="button"> {text}</a>
</div>

<style>
    #button {
        box-shadow: -5px, -5px, 10px, black !important;
    }
</style>
<!-- <div class="m-2">
    <a href="#" class=" p-2 text-center text-white rounded-md" style="background-image: linear-gradient(0deg, black, rgb(201, 201, 201));">Descubre tu colorimetría</a>
</div> -->
