<fieldset class="font-lato flex flex-col gap-2">
    <legend class="my-2">¿Cual es el color de tus ojos?</legend>

    <div class="custom-radio w-full">
        <label
            class="border border-black hover:bg-whie/50 p-2 flex items-center rounded"
        >
            <input
                class="mr-2"
                type="radio"
                name="colorOjos"
                id="marronONegro"
            />
            <span class="custom-radio-button"></span>
            Marron o Negro
        </label>
    </div>

    <div class="custom-radio w-full">
        <label
            class="border border-black hover:bg-white/50 p-2 flex items-center ruonded"
        >
            <input
                class="mr-2"
                type="radio"
                name="colorOjos"
                id="marronClaroOAvellana"
            />
            <span class="custom-radio-button"></span>
            Marron claro o Avellana
        </label>
    </div>

    <div class="custom-radio">
        <label
            class="border border-black hover:bg-white/50 p-2 flex items-center rounded"
        >
            <input 
            class="mr-2" 
            type="radio" 
            name="colorOjos" 
            id="verde" />
            <span class="custom-radio-button"></span>
            Verde
        </label>
    </div>

    <div class="custom-radio">
        <label
            class="border border-black hover:bg-white/50 p-2 flex items-center rounded"
        >
            <input 
            class="mr-2"
            type="radio"
            name="colorOjos"
            id="azul"/>
            <span class="custom-radio-button"></span>
            Azul
        </label>
    </div>

    <div class="custom-radio">
        <label 
        class="border border-black hover:bg-white/50 p-2 flex items-center rounded"
        >
            <input 
            class="mr-2"
            type="radio"
            name="colorOjos"
            id="gris">
            <span class="custom-radio-button"></span>
            Gris
    </label>
    </div>
</fieldset>

<fieldset class="font-lato flex felx-col gap-2">
    <legend class="my-2">¿Tienes destellos visibles?</legend>
    
    <div class="custom-radio w-full">
        <label 
        class="border border-black hover:bg-white/50 p-2 flex items-center rounded"
        >
            <input 
            class="mr-2"
            type="radio"
            name="destellosOjos"
            id="doradosOCalidos">
            <span class="custom-radio-button"></span>
            Dorados o Calidos
    </label>
    </div>

    <div class="custom-radio w-full">
        <label 
        class="border border-black hove:bg-white/50 p-2 flex items-center rounded"
        >
            <input 
            class="mr-2"
            type="radio"
            name="destellosOjos"
            id="palteadosOFrios">
            <span class="custom-radio-button"></span>
            Plateados o Frios
    </label>
    </div>
</fieldset>
