<fieldset class="font-lato flex flex-col gap-2">
    <legend class="my-2">¿Cual es tu color de cabbelo? natural</legend>
    
    <div class="custom-radio w-full">
        <label
            class="border border-black hover:bg-white/50 hover:cursor-pointer p-2 flex items-center rounded"
        >
            <input 
            class="mr-2"
            type="radio"
            name="colorCabello"
            id="negro"/>
            <span class="custom-radio-button"></span>
            Negro
        </label>
    </div>

    <div class="custom-radio w-full">
        <label
            class="border border-black hover:bg-white/50 hover:cursor-pointer p-2 flex items-center rounded"
        >
            <input 
            class="mr-2"
            type="radio"
            name="colorCabello"
            id="castañoOscuro"/>
            <span class="custom-radio-button"></span>
            Castaño Oscuro
        </label>
    </div>

    <div class="custom-radio w-full">
        <label
            class="border border-black hover:bg-white/50 hover:cursor-pointer p-2 flex items-center rounded"
        >
            <input 
            class="mr-2"
            type="radio"
            name="colorCabello"
            id="castañoClaro"/>
            <span class="custom-radio-button"></span>
            Castaño Claro
        </label>
    </div>

    <div class="custom-radio w-full">
        <label
            class="border border-black hover:bg-white/50 hover:cursor-pointer p-2 flex items-center rounded"
        >
            <input 
            class="mr-2"
            type="radio"
            name="colorCabello"
            id="rubioOscuro"/>
            <span class="custom-radio-button"></span>
            Rubio Oscuro
        </label>
    </div>

    <div class="custom-radio w-full">
        <label
            class="border border-black hover:bg-white/50 hover:cursor-pointer p-2 flex items-center rounded"
        >
            <input 
            class="mr-2"
            type="radio"
            name="colorCabello"
            id="rubioclaro"/>
            <span class="custom-radio-button"></span>
            Rubio Claro
        </label>
    </div>

    <div class="custom-radio w-full">
        <label
            class="border border-black hover:bg-white/50 hover:cursor-pointer p-2 flex items-center rounded"
        >
            <input 
            class="mr-2"
            type="radio"
            name="colorCabello"
            id="pelirrojo"/>
            <span class="custom-radio-button"></span>
            Pelirrojo
        </label>
    </div>

</fieldset>