---

---

<header class="border-b shadow-sm border-b-gray-500 py-2 fixed w-full bg-white z-10 hidden md:block">
    <ul class="flex gap-5 justify-center">
        <ul class="flex gap-5">
            <li><a href="#" class="font-inconsolata">Inicio</a></li>
            <li><a href="#about" class="font-inconsolata">Sobre</a></li>
            <li><a href="#test" class="font-inconsolata">Test</a></li>
        </ul>
        <li><a href="#" class="font-inconsolata font-semibold text-xl">YOUR COLOR</a></li>
        <ul class="flex gap-5">
            <li><a href="#" class="font-inconsolata">Funcionamiento</a></li>
            <li><a href="#" class="font-inconsolata">Contacto</a></li>
        </ul>
    </ul>
</header>
<div class="bg-black h-[44px] hidden md:block">.</div>