---

---

<section class="flex justify-center items-center py-10">
    <div class="pl-5 w-1/2">
        <h2 class="font-lato text-2xl text-start font-bold">Quieres saver tu Colorometria?</h2>
        <h2 class="font-lato text-lg mt-2">
            Conoce que colores complementa mejor tu estiloy como reflejan tu personalidad aqui<a href="#test"
                class="border mx-2 px-2 text-center">test</a>
        </h2>
    </div>
    <div class="w-1/2 flex justify-center animate-spin-slow">
        <img
            src="../public/color-circle.webp"
            alt="color palette circle"
            class="min-w-1/2 max-w-56"
        />
    </div>
</section>
