<fieldset class="font-lato flex flex-col gap-2">
    <legend class="my-2">¿Que colores de ropa prefieres usar?</legend>

    <div class="custom-radio">
        <label
            class="border border-black hover:bg-white p-2 flex items center rounded"
            >
            <input
            class="mr-2" 
            type="radio" 
            name="ropa"
            id="coloresCalidos"/>
        <span class="custom-radio-button"></span>
        Colores calidos como rojo, naranja, amarillo
    </label>
    </div>
    
    <div class="custom-radio">
        <label
            class="border border-black hover:bg-white p-2 flex items center rounded"
            >
            <input
            class="mr-2" 
            type="radio" 
            name="ropa"
            id="coloresFrios"/>
        <span class="custom-radio-button"></span>
        Colores frios como azul, verde, violeta
    </label>
    </div>

    <div class="custom-radio">
        <label
            class="border border-black hover:bg-white p-2 flex items center rounded"
            >
            <input
            class="mr-2" 
            type="radio" 
            name="ropa"
            id="coloresNeutros"/>
        <span class="custom-radio-button"></span>
        Neutros como blacno, negro, gris 
    </label>
    </div>

</fieldset>
<fieldset class="font-lato flex flex-col gap-2">
    <legend class="my-2">¿Que tipo de ropa te queda mejor?</legend>

    <div class="custom-radio">
        <label
            class="border border-black hover:bg-white p-2 flex items center rounded"
            >
            <input
            class="mr-2" 
            type="radio" 
            name="accesorios"
            id="dorados"/>
        <span class="custom-radio-button"></span>
        Dorados 
    </label>
    </div>

    <div class="custom-radio">
        <label
            class="border border-black hover:bg-white p-2 flex items center rounded"
            >
            <input
            class="mr-2" 
            type="radio" 
            name="accesorios"
            id="plateados"/>
        <span class="custom-radio-button"></span>
        Plateados 
    </label>
    </div>

    <div class="custom-radio">
        <label
            class="border border-black hover:bg-white p-2 flex items center rounded"
            >
            <input
            class="mr-2" 
            type="radio" 
            name="accesorios"
            id="ambos"/>
        <span class="custom-radio-button"></span>
        Ambos
    </label>
    </div>

</fieldset>

<!-- <div class="custom-radio w-full">
        <label
            class="border border-black hover:bg-white/50 p-2 flex items-center rounded"
        >
            <input
                class="mr-2"
                type="radio"
                name="colorPiel"
                id="muyclara"
                value="Muy clara"
            />
            <span class="custom-radio-button"></span>
            Muy clara
        </label>
    </div> -->
