<div class="grid grid-cols-2 md:grid-cols-3 gap-2">
    <!-- primavera -->
    <div class="">
        <p class="text-lg">Primavera</p>
        <div class="flex justify-between ">
            <p class="text-center">Calor</p>
            <p class="text-center">Puro</p>
            <p class="text-center">Brillante</p>
        </div>
        <div class="grid grid-cols-3">
            <div>
                <div class="h-8 w-full rounded bg-[#fdd891] my-2"></div>
                <div class="h-8 w-full rounded bg-[#fab394] my-2"></div>
                <div class="h-8 w-full rounded bg-[#fdb8cd] my-2"></div>
                <div class="h-8 w-full rounded bg-[#fea2a6] my-2"></div>
                <div class="h-8 w-full rounded bg-[#ceefc7] my-2"></div>
                <div class="h-8 w-full rounded bg-[#97d3d7] my-2"></div>
                <div class="h-8 w-full rounded bg-[#c0e6fb] my-2"></div>
            </div>
            <div class="mx-1">
                <div class="h-8 w-full rounded bg-[#e96d75] my-2"></div>
                <div class="h-8 w-full rounded bg-[#fc8f76] my-2"></div>
                <div class="h-8 w-full rounded bg-[#feb83e] my-2"></div>
                <div class="h-8 w-full rounded bg-[#97ab48] my-2"></div>
                <div class="h-8 w-full rounded bg-[#349951] my-2"></div>
                <div class="h-8 w-full rounded bg-[#38a6a1] my-2"></div>
                <div class="h-8 w-full rounded bg-[#1779b8] my-2"></div>
            </div>
            <div>
                <div class="h-8 w-full rounded bg-[#e95182] my-2"></div>
                <div class="h-8 w-full rounded bg-[#fc3c40] my-2"></div>
                <div class="h-8 w-full rounded bg-[#f48221] my-2"></div>
                <div class="h-8 w-full rounded bg-[#ffc734] my-2"></div>
                <div class="h-8 w-full rounded bg-[#1fa14f] my-2"></div>
                <div class="h-8 w-full rounded bg-[#77e8dd] my-2"></div>
                <div class="h-8 w-full rounded bg-[#4159b1] my-2"></div>
            </div>
        </div>
    </div>
    <!-- verano -->
    <div class="">
        <p class="text-lg">Verano</p>
        <div class="flex justify-evenly">
            <p class="text-center">Claro</p>
            <p class="text-center">Puro</p>
            <p class="text-center">Suave</p>
        </div>
        <div class="grid grid-cols-3">
            <div>
                <div class="h-8 w-full rounded bg-[#fdf9ad] my-2"></div>
                <div class="h-8 w-full rounded bg-[#fec8d8] my-2"></div>
                <div class="h-8 w-full rounded bg-[#fab7e2] my-2"></div>
                <div class="h-8 w-full rounded bg-[#dcc5ed] my-2"></div>
                <div class="h-8 w-full rounded bg-[#b3b9d9] my-2"></div>
                <div class="h-8 w-full rounded bg-[#93bbf8] my-2"></div>
                <div class="h-8 w-full rounded bg-[#a4d4d9] my-2"></div>
            </div>
            <div class="mx-2">
                <div class="h-8 w-full rounded bg-[#c1376c] my-2"></div>
                <div class="h-8 w-full rounded bg-[#f984d3] my-2"></div>
                <div class="h-8 w-full rounded bg-[#bd8ec3] my-2"></div>
                <div class="h-8 w-full rounded bg-[#7193c8] my-2"></div>
                <div class="h-8 w-full rounded bg-[#4ea5ee] my-2"></div>
                <div class="h-8 w-full rounded bg-[#448b8c] my-2"></div>
                <div class="h-8 w-full rounded bg-[#737f8f] my-2"></div>
            </div>
            <div>
                <div class="h-8 w-full rounded bg-[#ecdfac] my-2"></div>
                <div class="h-8 w-full rounded bg-[#e3aab9] my-2"></div>
                <div class="h-8 w-full rounded bg-[#d985a7] my-2"></div>
                <div class="h-8 w-full rounded bg-[#bc81a7] my-2"></div>
                <div class="h-8 w-full rounded bg-[#84beb5] my-2"></div>
                <div class="h-8 w-full rounded bg-[#8da9c1] my-2"></div>
                <div class="h-8 w-full rounded bg-[#476e93] my-2"></div>
            </div>
        </div>
    </div>
    <!-- otoño -->
    <div class="">
        <p class="text-lg">Otoño</p>
        <div class="flex justify-between">
            <p class="text-center">Oscuro</p>
            <p class="text-center">Puro</p>
            <p class="text-center">Suave</p>
        </div>
        <div class="grid grid-cols-3">
            <div>
                <div class="h-8 w-full rounded bg-[#d4822f] my-2"></div>
                <div class="h-8 w-full rounded bg-[#c06f52] my-2"></div>
                <div class="h-8 w-full rounded bg-[#971a20] my-2"></div>
                <div class="h-8 w-full rounded bg-[#743538] my-2"></div>
                <div class="h-8 w-full rounded bg-[#7c723d] my-2"></div>
                <div class="h-8 w-full rounded bg-[#1d554a] my-2"></div>
                <div class="h-8 w-full rounded bg-[#054467] my-2"></div>
            </div>
            <div class="mx-2">
                <div class="h-8 w-full rounded bg-[#ffa944] my-2"></div>
                <div class="h-8 w-full rounded bg-[#ee834a] my-2"></div>
                <div class="h-8 w-full rounded bg-[#ef7a6c] my-2"></div>
                <div class="h-8 w-full rounded bg-[#cb3824] my-2"></div>
                <div class="h-8 w-full rounded bg-[#8e5539] my-2"></div>
                <div class="h-8 w-full rounded bg-[#878b3e] my-2"></div>
                <div class="h-8 w-full rounded bg-[#6a846d] my-2"></div>
            </div>
            <div>
                <div class="h-8 w-full rounded bg-[#e7958f] my-2"></div>
                <div class="h-8 w-full rounded bg-[#eeb2b7] my-2"></div>
                <div class="h-8 w-full rounded bg-[#e3c893] my-2"></div>
                <div class="h-8 w-full rounded bg-[#c1b9b0] my-2"></div>
                <div class="h-8 w-full rounded bg-[#acb9a2] my-2"></div>
                <div class="h-8 w-full rounded bg-[#abcdcc] my-2"></div>
                <div class="h-8 w-full rounded bg-[#79acd1] my-2"></div>
            </div>
        </div>
    </div>
    <!-- invierno -->
    <div class="">
        <p class="text-lg">Invierno</p>
        <div class="flex justify-evenly">
            <p class="text-center">Oscuro</p>
            <p class="text-center">Puro</p>
            <p class="text-center">Brillante</p>
        </div>
        <div class="grid grid-cols-3">
            <div>
                <div class="h-8 w-full rounded bg-[#c3337f] my-2"></div>
                <div class="h-8 w-full rounded bg-[#c01b43] my-2"></div>
                <div class="h-8 w-full rounded bg-[#922650] my-2"></div>
                <div class="h-8 w-full rounded bg-[#612b77] my-2"></div>
                <div class="h-8 w-full rounded bg-[#172588] my-2"></div>
                <div class="h-8 w-full rounded bg-[#146059] my-2"></div>
                <div class="h-8 w-full rounded bg-[#38435a] my-2"></div>
            </div>
            <div class="mx-2">
                <div class="h-8 w-full rounded bg-[#c31f4b] my-2"></div>
                <div class="h-8 w-full rounded bg-[#fb87b7] my-2"></div>
                <div class="h-8 w-full rounded bg-[#32b888] my-2"></div>
                <div class="h-8 w-full rounded bg-[#5cbfd9] my-2"></div>
                <div class="h-8 w-full rounded bg-[#2666ad] my-2"></div>
                <div class="h-8 w-full rounded bg-[#7853a5] my-2"></div>
                <div class="h-8 w-full rounded bg-[#a0a0a0] my-2"></div>
            </div>
            <div>
                <div class="h-8 w-full rounded bg-[#f04b86] my-2"></div>
                <div class="h-8 w-full rounded bg-[#ff65c7] my-2"></div>
                <div class="h-8 w-full rounded bg-[#a66fc7] my-2"></div>
                <div class="h-8 w-full rounded bg-[#416ce2] my-2"></div>
                <div class="h-8 w-full rounded bg-[#08caff] my-2"></div>
                <div class="h-8 w-full rounded bg-[#44bb99] my-2"></div>
                <div class="h-8 w-full rounded bg-[#fef940] my-2"></div>
            </div>
        </div>
    </div>
</div>