<fieldset class="font-lato flex flex-col gap-2">
    <legend class="my-2">¿De que color parecen tus venas en la muñeca?</legend>

    <div class="custom-radio w-full">
        <label
        for="azulOMorado"
            class="border border-black hover:bg-white/50 hover:cursor-pointer p-2 flex items-center rounded"
        >
            <input 
            class="mr-2" 
            type="radio"
            name="colorVenas" 
            id="azulOMorado" />
            <span class="custom-radio-button"></span>
            Azul o Morado (subtono Frio)
        </label>
    </div>

    <div class="custom-radio w-full">
        <label 
        for="verde"
            class="border border-black hover:bg-white/50 hover:cursor-pointer p-2 flex items-center rounded"
        >
            <input 
            class="mr-2" 
            type="radio"
            name="colorVenas" 
            id="verde" />
            <span class="custom-radio-button"></span>
            Verde (subtono Calido)
        </label>
    </div>

    <div class="custom-radio w-full">
        <label
        for="neutro"
            class="border border-black hover:bg-white/50 hover:cursor-pointer p-2 flex items-center rounded"
        >
            <input 
            class="mr-2" 
            type="radio"
            name="colorVenas" 
            id="neutro" />
            <span class="custom-radio-button"></span>
            No estoy seguro (posiblemente neutro)
        </label>
    </div>
</fieldset>
