<section id="test">
    <h3></h3>
    <p></p>
    <form action="" class="flex flex-col ">
        <input type="text" class=" border-b outline-none pl-2" placeholder="datos">
        <input type="text" class=" border-b outline-none pl-2" placeholder="datos">
        <input type="text" class=" border-b outline-none pl-2" placeholder="datos">
    </form>
</section>