<section id="test" class="pl-5">
    <h3 class="font-lato text-xl font-bold mt-5">
        Descrubre tu paleta perfecta
    </h3>
    <p class="tetx-lato m-2">
        Conoce los tonos que realzan tu belleza natural con nuestro test rapido
    </p>
    <p class="font-lato ml-2">
        Para empezar el test Selecciona las opciones que mejos describan tus
        caracteristicas, como tono de piel, color de ojos, cabello, etc.
    </p>
    <form action="" class="m-5">
        <fieldset class="font-lato flex flex-col gap-2">
            <legend>Tono de piel (Subtono)</legend>
            <p>¿Cual es tu tono de piel?</p>
            <label class="border w-32 px-2 py-1 rounded hover:bg-white/50 border-black ">
                <input class="mr-2 " type="radio" name="colorPiel" id="muyclara" value="Muy clara">Muy clara
            </label>
            
            <label class="border w-32 px-2 py-1 rounded hover:bg-white/50 border-black ">
                <input class="mr-2 " type="radio" name="colorPiel" id="clara" value="Clara">Clara
            </label>
            
            <label class="border w-32 px-2 py-1 rounded hover:bg-white/50 border-black ">
                <input class="mr-2 " type="radio" name="colorPiel" id="media" value="
                Media">Media
            </label>
            
            <label class="border w-32 px-2 py-1 rounded hover:bg-white/50 border-black ">
                <input class="mr-2 " type="radio" name="colorPiel" id="oscura" value="Oscura">Oscura
            </label>
            
            <label class="border w-32 px-2 py-1 rounded hover:bg-white/50 border-black ">
                <input class="mr-2 " type="radio" name="colorPiel" id="muyoscura" value="Muy oscura">Muy oscura
            </label>
        </fieldset>
    </form>

</section>
