<section id="test" class="pl-5">
    <h3 class="font-lato text-xl font-bold mt-5">
        Descrubre tu paleta perfecta
    </h3>
    <p class="tetx-lato m-2">
        Conoce los tonos que realzan tu belleza natural con nuestro test rapido
    </p>
    <p class="font-lato ml-2">
        Para empezar el test Selecciona las opciones que mejos describan tus
        caracteristicas, como tono de piel, color de ojos, cabello, etc.
    </p>
    <h2 class="m-2 font-semibold font-lato">Tono de piel (Subtono)</h2>
    <form action="" class="m-5 flex flex-col gap-2">
        <fieldset class="font-lato flex flex-col gap-2">
            <legend class="my-2">¿Cual es tu tono de piel?</legend>
            <label
                class="border w-32 px-2 py-1 rounded hover:bg-white/50 border-black"
            >
                <input
                    class="mr-2"
                    type="radio"
                    name="colorPiel"
                    id="muyclara"
                    value="Muy clara"
                />Muy clara
            </label>

            <label
                class="border w-32 px-2 py-1 rounded hover:bg-white/50 border-black"
            >
                <input
                    class="mr-2"
                    type="radio"
                    name="colorPiel"
                    id="clara"
                    value="Clara"
                />Clara
            </label>

            <label
                class="border w-32 px-2 py-1 rounded hover:bg-white/50 border-black"
            >
                <input
                    class="mr-2"
                    type="radio"
                    name="colorPiel"
                    id="media"
                    value="
                Media"
                />Media
            </label>

            <label
                class="border w-32 px-2 py-1 rounded hover:bg-white/50 border-black"
            >
                <input
                    class="mr-2"
                    type="radio"
                    name="colorPiel"
                    id="oscura"
                    value="Oscura"
                />Oscura
            </label>

            <label
                class="border w-32 px-2 py-1 rounded hover:bg-white/50 border-black"
            >
                <input
                    class="mr-2"
                    type="radio"
                    name="colorPiel"
                    id="muyoscura"
                    value="Muy oscura"
                />Muy oscura
            </label>
        </fieldset>
        <fieldset class="font-lato flex flex-col gap-2">
            <legend class="my-2">¿Como describiria tu subtono de piel?</legend>
            <label
                class="border w-80 px-2 py-1 rounded hover:bg-white/50 border-black"
            >
                <input
                    class="mr-2"
                    type="radio"
                    name="subtono"
                    id="calido"
                    value="Calido"
                />
                Calido (amarillo, dorado, durazno)
            </label>
            <label
                class="border w-80 px-2 py-1 rounded hover:bg-white/50 border-black"
            >
                <input
                    class="mr-2"
                    type="radio"
                    name="subtono"
                    id="frio"
                    value="Frio"
                />
                Frio (rosado, rojizo, azul)
            </label>
            <label
                class="border w-80 px-2 py-1 rounded hover:bg-white/50 border-black"
            >
                <input
                    class="mr-2"
                    type="radio"
                    name="subtono"
                    id="neutro"
                    value="Neutro"
                />
                Neutro (una mezcla de calido y frio)
            </label>
        </fieldset>
        <fieldset class="font-lato flex flex-col gap-2">
            <legend class="my-2">¿Como reaciona tu piel al sol?</legend>
            <label
                class="border w-80 px-2 py-1 rounded hover:bg-white/50 border-black"
            >
                <input
                    class="mr-2"
                    type="radio"
                    name="sol"
                    id="quema"
                    value="Se quema"
                />
                Se quema facilmente
            </label>
            <label
                class="border w-80 px-2 py-1 rounded hover:bg-white/50 border-black"
            >
                <input
                    class="mr-2"
                    type="radio"
                    name="sol"
                    id="broncea"
                    value="Se broncea"
                />
                Se broncea ligeramente
            </label>
            <label
                class="border w-80 px-2 py-1 rounded hover:bg-white/50 border-black"
            >
                <input
                    class="mr-2"
                    type="radio"
                    name="sol"
                    id="bronceaFacil"
                    value="Se broncea facil"
                />
                Se broncea con facilidad
            </label>
        </fieldset>
    </form>
</section>
