<fieldset class="font-lato flex flex-col gap-2">
    <legend class="my-2">¿Cual es tu tono de piel? (Subtono)</legend>

    <div class="custom-radio w-full">
        <label
        for="muyClara"
            class="border border-black hover:bg-white/50 hover:cursor-pointer p-2 flex items-center rounded"
        >
            <input
                class="mr-2"
                type="radio"
                name="colorPiel"
                id="muyClara"
                value="Muy clara"
            />
            <span class="custom-radio-button"></span>
            Muy clara
        </label>
    </div>

    <div class="custom-radio w-full">
        <label
        for="clara"
            class="border border-black hover:bg-white/50 hover:cursor-pointer p-2 flex items-center rounded"
        >
            <input
                class="mr-2"
                type="radio"
                name="colorPiel"
                id="clara"
                value="Clara"
            />
            <span class="custom-radio-button"></span>
            Clara
        </label>
    </div>

    <div class="custom-radio w-full">
        <label
        for="madia"
            class="border border-black hover:bg-white/50 hover:cursor-pointer p-2 flex items-center rounded"
        >
            <input
                class="mr-2"
                type="radio"
                name="colorPiel"
                id="media"
                value="
            Media"
            />
            <span class="custom-radio-button"></span>
            Media
        </label>
    </div>

    <div class="custom-radio w-full">
        <label
        for="morena"
            class="border border-black hover:bg-white/50 hover:cursor-pointer p-2 flex items-center rounded"
        >
            <input
                class="mr-2"
                type="radio"
                name="colorPiel"
                id="morena"
                value="Morena"
            />
            <span class="custom-radio-button"></span>
            Morena
        </label>
    </div>

    <div class="custom-radio w-full">
        <label
        for="oscura"
            class="border border-black hover:bg-white/50 hover:cursor-pointer p-2 flex items-center rounded"
        >
            <input
                class="mr-2"
                type="radio"
                name="colorPiel"
                id="oscura"
                value="Oscura"
            />
            <span class="custom-radio-button"></span>
            Oscura
        </label>
    </div>
</fieldset>

<fieldset class="font-lato flex flex-col gap-2">
    <legend class="my-2">¿Como describiria tu subtono de piel?</legend>

    <div class="custom-radio w-full">
        <label
        for="calido"
            class="border border-black hover:bg-white/50 hover:cursor-pointer p-2 flex items-center rounded"
        >
            <input
                class="mr-2 group-focus:bg-white/50"
                type="radio"
                name="subtono"
                id="calido"
                value="Calido"
            />
            <span class="custom-radio-button"></span>
            Calido (amarillo, dorado, durazno)
        </label>
    </div>

    <div class="custom-radio w-full">
        <label
        for="frio"
            class="border border-black hover:bg-white/50 hover:cursor-pointer p-2 flex items-center rounded"
        >
            <input
                class="mr-2"
                type="radio"
                name="subtono"
                id="frio"
                value="Frio"
            />
            <span class="custom-radio-button"></span>
            Frio (rosado, rojizo, azul)
        </label>
    </div>

    <div class="custom-radio w-full">
        <label
        for="neutro"
            class="border border-black hover:bg-white/50 hover:cursor-pointer p-2 flex items-center rounded"
        >
            <input
                class="mr-2"
                type="radio"
                name="subtono"
                id="neutro"
                value="Neutro"
            />
            <span class="custom-radio-button"></span>
            Neutro (una mezcla de calido y frio)
        </label>
    </div>
</fieldset>

<fieldset class="font-lato flex flex-col gap-2">
    <legend class="my-2">¿Como reaciona tu piel al sol?</legend>

    <div class="custom-radio w-full">
        <label
        for="quema"
            class="border border-black hover:bg-white/50 hover:cursor-pointer p-2 flex items-center rounded"
        >
            <input
                class="mr-2"
                type="radio"
                name="sol"
                id="quema"
                value="Se quema"
            />
            <span class="custom-radio-button"></span>
            Se quema facilmente
        </label>
    </div>

    <div class="custom-radio w-full">
        <label
        for="broncea"
            class="border border-black hover:bg-white/50 hover:cursor-pointer p-2 flex items-center rounded"
        >
            <input
                class="mr-2"
                type="radio"
                name="sol"
                id="broncea"
                value="Se broncea"
            />
            <span class="custom-radio-button"></span>
            Se broncea ligeramente
        </label>
    </div>

    <div class="custom-radio w-full">
        <label
        for="bronceaFacil"
            class="border border-black hover:bg-white/50 hover:cursor-pointer p-2 flex items-center rounded"
        >
            <input
                class="mr-2"
                type="radio"
                name="sol"
                id="bronceaFacil"
                value="Se broncea facil"
            />
            <span class="custom-radio-button"></span>
            Se broncea con facilidad
        </label>
    </div>

    <div class="custom-radio w-full">
        <label
        for="quemaLigeramenteYBroncea"
            class="border border-black hover:bg-white/50 hover:cursor-pointer p-2 flex items-center rounded"
        >
            <input
                class="mr-2"
                type="radio"
                name="sol"
                id="quemaLigeramenteYBroncea"
                value="Se quema ligeramente y broncea"
            />
            <span class="custom-radio-button"></span>
            Se quema ligeramente y broncea
        </label>
    </div>
</fieldset>
